body {
    background: url(../images/image.jpg);
    font-family: 'Squada One', cursive;
    text-align: center;
    font-size: 20px;
}


.btn-primary,.reset{
	background-color: darkblue;
	color: white;
	font-size: 20px;
	padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.btn-primary:hover, .reset:hover{
    background-color: green;
    text-align: center;
    
}
.container{
	margin-top: 10px;
	text-align: center;
} 

#quiz-area{
    margin-top: 20px;
}

#currentQuestion {
    margin-top: 20px;
    font-size: 20px;
    color: darkred;

}
.question {
    margin-top: 20px;
    font-size: 30px;
    color: white;
    font-weight: bold;
 

}

#timeLeft {
    margin-top: 20px;
    font-size: 10px;
    color: darkred;
}

#correctedAnswer, #finalMessage, #message, #unanswered, #incorrectAnswers, #correctAnswers {
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.thisChoice:hover{
	background-color: #202364;
    color: white;
    padding: 10px;
  
}

.thisChoice{
    line-height: 40px;

}




